<link rel="stylesheet" href="/styles/styles.css">
<header>
    <div class="row">
        <div class="col-md-12 head">
            <h1 id="titleHead">Drone Drop</h1>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 outerCon">
            <h3 id="products">Products</h3>
            <div class="row">
                {{#each products}}
                <div class="col-md-4 innerCon">
                    <div id="productTitle"><a href="/form/{{this.id}}">{{name}}</a></div>
                    <img src="{{image}}" style="height: 100px; width: 100px; margin-top: 5px">
                    <p id="price">${{price}}</p>
                    <p id="inventory">Only {{inventory}} left in stock. BUY NOW!</p>
                    <p id="stars">{{rating}} stars</p>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>